<p id="notice"><%= notice %></p>

<h3>
	Title:
	<%= @todo_list.title %>
</h3>

<p>
	<strong>Description:</strong>
	<%= @todo_list.description %>
</p>

<div id="todo_items_wrapper">
	<!-- render all todo list items for this todo list -->
	<ul class="list-group">
		<%= render @todo_list.todo_items %>
	</ul>

	<div id="form">
		<%= render "todo_items/form" %>
	</div>
</div>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
